@import 'tailwindcss';
@tailwind base;
@tailwind components;
@tailwind utilities;
@custom-variant dark (&:is(.dark *));

@theme {
  /* color */
  --color-primary: grey;
  --color-secondary: #272727;
  --color-desc: #c5c5c5;
  --color-hover-text: #155dfc;

  /* size */
  --height-header: 70px;
  --height-main: calc(100vh - var(--height-header));
}

html {
  box-sizing: border-box;
}

body {
  height: 100vh;
}

.main {
  min-height: var(--height-main);
}
